<!DOCTYPE html>
<html>
    <head>
        <title>Aplikacja do polecania muzyki</title>
    </head>
    <body>
        <div id='result'>
            <h2>wybierz gatunki jakie cie interesuja</h2>
            <form id='form' action="/genre" method="post" autocomplete="off">
                <div id="genreButtons"></div>
                <input type="hidden" id="clickedGenre" name="genre">
            </form>
        </div>
        <script src="../static/scripts/script.js"></script> 
        <a href="/">Chce wpisać inną piosenkę</a>
    </body>
</html>