<!DOCTYPE html>
<html>
    <head>
        <title>Application for recommending music</title>
        <link rel="stylesheet" href="{{ url_for('static', path='/css/genres.css') }}">
    </head>
    <body>
        <div id='result'>
            <h2>Choose the genre you are interested in</h2>
            <form id='form' action="/genre" method="post" autocomplete="off">
                <div id="genreButtons"></div>
                <input type="hidden" id="clickedGenre" name="genre">
            </form>
        </div>
        <script src="app/static/scripts/buttons.js"></script> <br>
        <script src="app/static/scripts/lights.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                initializeLights(100);
            });
        </script>
        <a href="/">I want to change the song</a>
        <div id="lights-container"></div>
    </body>
</html>