<!DOCTYPE html>
<html>
    <head>
        <title>Application for recommending music</title>
        <link rel="stylesheet" href="{{ url_for('static', path='/css/main.css') }}">
    </head>
    <body>
        <form id ='form' action="/submit" method="post">
            <p>{{error}}</p>
            <p>{{text}}</p>
            <label for="songd">Find a song with a similar sound<br><br></label>
            <label for="songs">song name</label><br>
            <input type="text" id="song" name="song"><br>
            <label for="songs">artist</label><br>
            <input type="text" id="artist" name="artist"><br>
            <input type="submit" value="Send">
        </form>
    </body>
</html>